<h1>Classement</h1>

@if (!loading()) {
<table class="table table-striped">
    <thead>
    <tr>
        <th style="width: 1px">Position</th>
        <th>Athlète</th>
        <th>Points</th>
    </tr>
    </thead>

    <tbody>
    @for (participant of participants(); track i; let i = $index) {
        <tr>
            <td class="text-center">
                @switch (i) {
                    @case (0) {
                        <fa-icon class="gold" matTooltip="Médaille d'or" [icon]="bottleIcon"></fa-icon>
                    }
                    @case (1) {
                        <fa-icon class="silver" matTooltip="Médaille d'argent" [icon]="bottleIcon"></fa-icon>
                    }
                    @case (2) {
                        <fa-icon class="bronze" matTooltip="Médaille de bronze" [icon]="bottleIcon"></fa-icon>
                    }
                    @default {
                        {{ i + 1 }}
                    }
                }
            </td>
            <td><a [routerLink]="['/user/' + participant.user_id]">{{ participant.display_name }}</a></td>
            <td>{{ participant.drink_days }}</td>
        </tr>
    } @empty {
        <tr>
            <td colspan="3">Aucun résultat</td>
        </tr>
    }
    </tbody>
</table>
} @else {
    <p class="loading">
        <fa-icon [icon]="loadingIcon" animation="spin"></fa-icon>
    </p>
}
