.card {
    border-radius: 10px;
    background-color: var(--bs-secondary-bg-subtle);

    .card-header {
        padding: 1rem;
        margin-bottom: 0;
        border-bottom: 1px solid var(--bs-secondary-bg);

        h3 {
            margin: 0;
        }
    }

    .card-body {
        padding: 1rem;
    }

    p {
        margin: 0 0 0.5rem 0;
    }
}
