h2 {
    font-size: 1.2em;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;

    .week {
        display: grid;
        grid-template-columns: repeat(7, 1.5rem);
        gap: 0.25rem;
        margin-bottom: 0.25rem;
        height: 1.5rem;

        > div {
            text-align: center;

            &.undefined {
                background-color: #ffffff;
                color: black;
                cursor: pointer;
            }

            &.clean {
                background-color: #cdffcd;
                color: black;
                cursor: pointer;
            }

            &.level-1 {
                background-color: #eeee8c;
                color: black;
                cursor: pointer;
            }

            &.level-2 {
                background-color: #c99936;
                color: black;
                cursor: pointer;
            }

            &.level-3 {
                background-color: #ff5454;
                color: black;
                cursor: pointer;
            }

            &.empty {
                background-color: #555555;
            }
        }
    }
}
